In [1]:
va=34,51
va

(34, 51)

In [5]:
va,var=30,50
print(va)
print(var)

30
50

In [7]:
A=78 #variables are case sensitive
a

NameError: name 'a' is not defined

In [8]:
import keyword #list
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [9]:
![image.png](attachment:image.png)

'[image.png]' is not recognized as an internal or external command,
operable program or batch file.

In [10]:
a = ![image.png](attachment:image.png)
a

["'[image.png]' is not recognized as an internal or external command,",
 'operable program or batch file.']

In [11]:
f3=3e2
f3

300.0

In [15]:
f1 = 3e4  #The 3e2 is a shorthand for scientific notation, where e (or E) means "times 10 to the power of."
           #3e2 translates to  3*10*10*10*10=300.0.
           #Python stores numbers like this as floating-point numbers, so the result is 300.0.
f1

30000.0

In [16]:
B=True
B

True

In [18]:
b1=None
b1

In [19]:
type(b1)

NoneType

In [20]:
type(B)

bool

In [21]:
True + True +False-True # True means 1 & False means 0

1

In [23]:
X=True # 1
Y=False #0
print(X-Y)
print(Y-Y)
print(Y-X)

1
0
-1

In [24]:
# Complex a + bj a is Real part b is imaginary part j is square root of -1 . it can be small or capital J
c=10+20j
c

(10+20j)

In [25]:
type(c)

complex

In [27]:
print(c.real)
print(c.imag)

10.0
20.0

In [30]:
c1 = 5 + 5j
c1

(5+5j)

In [31]:
c+c1

(15+25j)

In [32]:
c-c1

(5+15j)

In [33]:
c*c1 # we got -50 in output becaus of j square root of -1

(-50+150j)

In [35]:
c2=10+2.5j
print(c2)
c3=10+ -2.5j
print(c3)

(10+2.5j)
(10-2.5j)

In [36]:
c4=2.0 + 34j
c4

(2+34j)

In [39]:
s1 = '''My dog 
            is Nice'''
s1

'My dog \n            is Nice'

In [42]:
s2 = 'My dog 
            is Nice'

SyntaxError: invalid syntax (2798275388.py, line 1)

In [43]:
int(2.3)

2

In [44]:
int(2.3,3.7)

TypeError: 'float' object cannot be interpreted as an integer

In [45]:
int(True)

1

In [46]:
int('10')

10

In [47]:
int('ten')

ValueError: invalid literal for int() with base 10: 'ten'

In [48]:
int(1+2j)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [49]:
float(10)

10.0

In [50]:
float(False)

0.0

In [51]:
float('20')

20.0

In [52]:
float('ten')

ValueError: could not convert string to float: 'ten'

In [53]:
float(10-20j)

TypeError: float() argument must be a string or a real number, not 'complex'

In [56]:
print(bool(9))
print(bool(9.9))
print(bool('9'))
print(bool(9+9j))
print(bool(_))
print(bool())
print(bool( ))
print(bool(0))

True
True
True
True
True
False
False
False

In [59]:
print(str(2))
print(str(2.2))
print(str(True))
print(str(False))
print(str(10+20j))

2
2.2
True
False
(10+20j)