In [1]:
bin(25)

'0b11001'

In [2]:
int(0b11001)

25

In [3]:
oct(25)

'0o31'

In [4]:
int(0o31)

25

In [5]:
bin(7)

'0b111'

In [7]:
0xa

10

In [8]:
0xb

11

In [9]:
hex(256)

'0x100'

In [10]:
0x19

25

In [11]:
hex(7)

'0x7'

In [12]:
0x19

25

In [13]:
0x15

21

In [14]:
a=5
b=6
a,b=b,a
print(a)
print(b)

6
5

In [19]:
l=[10,20,30,40,50]
l[:-1]

[10, 20, 30, 40]

In [20]:
l[::-2]

[50, 30, 10]

In [21]:
l[::-3]

[50, 20]

In [22]:
l.index(20)

1

In [23]:
id(l)

2436406598976

In [25]:
id(l)

2436406598976

In [24]:
l.clear()

In [26]:
del l

In [27]:
l

NameError: name 'l' is not defined

In [30]:
l1=[5,10,15,20,25,30]
l1

[5, 10, 15, 20, 25, 30]

In [32]:
l1.pop()

30

In [33]:
l1

[5, 10, 15, 20, 25]

In [36]:
l1.pop(-1)
l1

[5, 10]

In [37]:
l1

[5, 10]

In [2]:
l1=['z','a','l']
l1.sort()
l1

['a', 'l', 'z']

In [3]:
l2=['z',1,'l']
l2.sort()
l2

TypeError: '<' not supported between instances of 'int' and 'str'

In [4]:
a=2
b=3
a+b

5

In [5]:
int.__add__(2,3)

5

In [6]:
int.__sub__(2,3)

-1

In [7]:
int.__mul__(2,3)

6

In [10]:
float.__add__(2.2,3.2)

5.4

In [11]:
t=()
t

()

In [12]:
type(t)

tuple

In [14]:
t1=3,4,4,5,5
t1

(3, 4, 4, 5, 5)

In [15]:
y=3,4,51,3
y

(3, 4, 51, 3)

In [16]:
type(y)

tuple

In [17]:
t.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [18]:
t1.count(4)

2

In [19]:
t1[0]

3

In [20]:
t1[0]=35

TypeError: 'tuple' object does not support item assignment

In [21]:
t1 *3

(3, 4, 4, 5, 5, 3, 4, 4, 5, 5, 3, 4, 4, 5, 5)

In [23]:
t1.index(4)

1

In [30]:
t1

(3, 4, 4, 5, 5)

In [24]:
t1[2:]

(4, 5, 5)

In [26]:
t1[:10]

(3, 4, 4, 5, 5)

In [35]:
for i in t1:
  print(i)

3
4
4
5
5

In [33]:
for i in enumerate(t1):
   print(i)

(0, 3)
(1, 4)
(2, 4)
(3, 5)
(4, 5)

In [37]:
t5 = ('nit',45)
type(t5)

tuple

In [38]:
t5[0]

'nit'

In [39]:
t5[0][0]

'n'

In [44]:
print(t5[0][0])
print(t5[0][1])
print(t5[0][2])
print(t5[0][3])

n
i
t

IndexError: string index out of range

In [45]:
~19

-20

In [46]:
~-12

11

In [47]:
25^30

7

In [48]:
not(10)

False

In [49]:
not(0)

True

In [50]:
10<<1

20

In [51]:
10<<2

40

In [52]:
10>>2

2

In [53]:
10>>1

5

In [54]:
not('sdfsd')

False

In [55]:
not('abcd')

False

In [60]:
import math
x= math.sqrt(25)
x

5.0

In [61]:
x= math.sqrt(5)
x

2.23606797749979

In [62]:
print(math.floor(x))

2

In [63]:
print(math.ceil(x))

3

In [2]:
import math as m
m.sqrt(25)

5.0

In [4]:
from math import *
sqrt(25)

5.0

In [9]:
round(2.74)

3

In [10]:
ceil(2.44)

3

In [13]:
x=input()
y=input()
z=x+y
print(z)

34

In [14]:
x1=input('Enter 1st number')
y1=input('Enter 1st number')
z1=x1+y1
print(z1)

12

In [ ]:
x1=int(input('Enter 1st number'))
y1=int(input('Enter 2nd number'))
z1=x1+y1
print(z1)

13

In [17]:
x2=input('Enter char')[0]
print(x2)

3

In [18]:
x2=input('Enter char')
print(x2)

2+3-3

In [20]:
x2=eval(input('Enter char'))
print(x2)

20

# SET {}

In [ ]:
s={}
s

{}

In [77]:
type(s)

dict

In [78]:
s1=set()
s1

set()

In [79]:
type(s1)

set

In [80]:
l1= list()
type(l1)

list

In [81]:
s2 = {200,3,1,20,10,10} ##duplicates are not allowed ouput will remove duplicates
s2

{1, 3, 10, 20, 200}

In [82]:
s3= {'m','z','e'}
s3

{'e', 'm', 'z'}

In [83]:
s4={1,'m','r',3.3,4,'t'}
s4

{1, 3.3, 4, 'm', 'r', 't'}

In [84]:
s4.add(10000)
s4

{1, 10000, 3.3, 4, 'm', 'r', 't'}

In [85]:
s5={1,2,3,'m','r',3.3,4,'t'}
s5

{1, 2, 3, 3.3, 4, 'm', 'r', 't'}

In [86]:
s5.add(10000) ##
s5

{1, 10000, 2, 3, 3.3, 4, 'm', 'r', 't'}

In [87]:
s6={6,4,2,4,6,7,8}
s6

{2, 4, 6, 7, 8}

In [88]:
s6.add(10) ##
s6

{2, 4, 6, 7, 8, 10}

In [89]:
s7={6,4,2,4,6,7,8,5}
s7

{2, 4, 5, 6, 7, 8}

In [90]:
s7.add(3)
s7

{2, 3, 4, 5, 6, 7, 8}

In [91]:
s8={6,4,'r',2,'n'}
s8

{2, 4, 6, 'n', 'r'}

In [92]:
s8.add(300)
s8

{2, 300, 4, 6, 'n', 'r'}

In [93]:
s9={7,6,4,'r',2,'n'}
s9

{2, 4, 6, 7, 'n', 'r'}

In [94]:
s9.add(400)
s9

{2, 4, 400, 6, 7, 'n', 'r'}

In [95]:
n=input("Enter numbers: ")
n=n.split(',')
print(n)

['']

In [96]:
nums = for x in input("Enter numbers: ").split()
print(nums)

SyntaxError: invalid syntax (2722969380.py, line 1)

##Vowel Check

In [73]:
text = input("Enter a string: ")
vowels = "aeiou"
count = sum(1 for char in text if char.lower() in vowels)
print("Number of vowels:", count)

Number of vowels: 0

##Even or Odd number check

In [ ]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

## Check palindrome or not

In [98]:
text = input("Enter a string: ")
if text == text[::-1]:
   print("Palindrome")
else:
   print("Not a palindrome")

Palindrome

##  prints its square

In [102]:
num = int(input("Enter a number: "))
print("Square:", num ** 2)

Square: 25

##* Write a program that asks for a number and prints whether it is 
divisible by 3.

In [103]:
num = int(input("Enter a number: "))
if num % 3 == 0:
 print("Divisible by 3")
else:
 print("Not divisible by 3")

Not divisible by 3

In [106]:
values = input("Enter comma-separated values: ").split(',')
print(values)

['w', 'y', 'i', 'o', 'p']

## Prime Number Check

In [2]:
num = int(input("Enter a number: "))
if num > 1:
 for i in range(2, num):
  if num % i == 0:
    print("Not a prime number")  
else:
 print("Not a prime number")

In [4]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello, {name}. You are {age} years old.")

Hello, abcd. You are 13 years old.

## Factorial Number

In [5]:
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
 factorial *= i
 print("Factorial:", factorial)

Factorial: 1
Factorial: 2
Factorial: 6
Factorial: 24
Factorial: 120
Factorial: 720

In [11]:
user_input = input("Enter something: ").strip()
if not user_input:
 print("Input cannot be empty.")
else:
 print(f"You entered: {user_input}")

You entered: sdfsfsd fsrewrwe werw

In [15]:
import math
num = int(input("Enter a number: "))
if math.isqrt(num) ** 2 == num:
 print("Perfect square")
else:
 print("Not a perfect square")

Not a perfect square

In [21]:
try:
 num = int(input("Enter a number: "))
 print("Valid input.")
except ValueError:
 print("Invalid input! Please enter a valid integer.")

Invalid input! Please enter a valid integer.

## Count Character

In [22]:
text = input("Enter a string: ")
char = input("Enter a character to count: ")
print(f"Occurrence of {char}: {text.count(char)}")

Occurrence of r: 0

## check if a string contains only alphabets

In [24]:
user_input = input("Enter a string: ")
if user_input.isalpha():
 print("Only alphabets")
else:
 print("Contains non-alphabet characters")

Contains non-alphabet characters

##  count the number of words in a sentence

In [27]:
text = input("Enter a sentence: ")
print("Number of words:", len(text)) ## count number of characters
print("Number of words:", len(text.split())) ##  count no of words

Number of words: 33
Number of words: 5

## Replace

In [28]:
user_input = input("Enter a string: ")
print(user_input.replace(" ", ""))

sdasasdasdaasdasd

## validate if an entered input is a valid email address

In [31]:
import re
email = input("Enter email: ")
if re.match(r"[^@]+@[^@]+\.[^@]+", email):
 print("Valid email")
else:
 print("Invalid email")

Valid email

In [33]:
names = input("Enter names separated by commas: ").split(',')
print(names)

['sadasdasd', 'ewrwer', 'trytr', 'gvbdfg']

## extract numbers from a string entered

In [34]:
import re
text = input("Enter a string: ")
numbers = re.findall(r'\d+', text)
print("Extracted numbers:", numbers)

Extracted numbers: ['23']

## While

In [36]:
while True:
    try:
        num = int(input("Enter a valid number: "))  # Proper indentation inside try block
        break  # Exit the loop if input is valid
    except ValueError:
        print("Invalid input, please enter a number.")  # Proper indentation inside except block

Invalid input, please enter a number.
Invalid input, please enter a number.

In [38]:
text = input("Enter a string: ")
digit_sum = sum(int(digit) for digit in text if digit.isdigit())
print("Sum of digits:", digit_sum)

Sum of digits: 17

## absolute value

In [42]:
num = int(input("Enter a number: "))
print("Absolute value:", abs(num))

Absolute value: 89897

In [45]:
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
print("Average:", sum(numbers) / len(numbers))

Average: 4.666666666666667

## prints the longest word

In [46]:
text = input("Enter a sentence: ")
words = text.split()
print(words)
longest_word = max(words, key=len)
print("Longest word:", longest_word)

['dewrwer', 'gdfgvdfgdf', 'fdgdfgdfg', 'e3']
Longest word: gdfgvdfgdf

## Sort Sorted

In [47]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [48]:
mylist4 = [9,5,2,99,12,88,34]
sorted(mylist4)

[2, 5, 9, 12, 34, 88, 99]

In [52]:
x=5/1
x

5.0

## UNary OPerator

In [55]:
y=~6
print(y)
z=~-6
print(z)

-7
5

## Modulus operator example

In [56]:
# Modulus operator example
number = 15
divisor = 7
# Calculate remainder using modulus
remainder = number % divisor
print(f"The remainder of {number} divided by {divisor} is: {remainder}")

The remainder of 15 divided by 7 is: 1

## exponentiation OPerator **

In [57]:
# Example
base = 2
exponent = 3
# Calculate the result of exponentiation
result = base ** exponent
print("Result:", result)

Result: 8

In [60]:
name1 = "Alice"
name2 = "Bob"
print(name1 < name2)

True

In [61]:
print(type(0xFF))

<class 'int'>

In [62]:
print(int(0xFF))

255

In [67]:
print(type(1/2))

<class 'float'>

In [65]:
10+'5'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [66]:
10/3

3.3333333333333335

In [68]:
len([1,2,3,4])

4

In [69]:
mytyple=(1,2,3)
mytyple[0]=4

TypeError: 'tuple' object does not support item assignment

In [71]:
print(tuple([1,2,3]))

(1, 2, 3)

In [72]:
print((1, 2) + (3, 4))

(1, 2, 3, 4)

In [73]:
s5={2,3,'nit',1+2j,True,45.2}
s5

{(1+2j), 2, 3, 45.2, True, 'nit'}

In [74]:
type(s5)

set

In [77]:
2 in s5

True

In [78]:
200 in s5

False

#### Remove and Discard (both does same) discard wont give error when value not presemt

In [81]:
s5.discard(3)
s5

{(1+2j), 2, 45.2, True, 'nit'}

### Loop in Set

In [84]:
for i in s5:
   print(i)

True
2
(1+2j)
nit
45.2

In [85]:
for i in enumerate(s5):
   print(i)

(0, True)
(1, 2)
(2, (1+2j))
(3, 'nit')
(4, 45.2)

In [86]:
s5.update([1,2,3])
s5

{(1+2j), 2, 3, 45.2, True, 'nit'}

In [87]:
s5.update([100,200,300])
s5

{(1+2j), 100, 2, 200, 3, 300, 45.2, True, 'nit'}

In [88]:
s6=s5.copy()
s6

{(1+2j), 100, 2, 200, 3, 300, 45.2, True, 'nit'}

### Set Operations Union

In [89]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [90]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [92]:
A.union(B,C,56)

TypeError: 'int' object is not iterable

In [93]:
print(A)
print(B)
print(C)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}
{8, 9, 10}

In [97]:
D = A | B |C
D

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Set Intersect

In [98]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}
A.intersection(B)

{4, 5}

In [100]:
D = A&B
D

{4, 5}

In [101]:
E = A&B&C
E

set()

In [103]:
A.intersection(B,C)

set()

### Set Difference -- Remove duplicates

In [105]:
D = A-B
D

{1, 2, 3}

In [107]:
A.difference(B,C)

{1, 2, 3}

In [110]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}
E = A-C
E

{1, 2, 3, 4, 5}

### SET Symmetric Difference

In [117]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}
D = A.symmetric_difference(B)
D

{1, 2, 3, 6, 7, 8}

In [114]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}
D = A.difference(C)
D

{1, 2, 3, 4, 5}

## Subset Superset Disjoint

In [118]:
A1={1,2,3,4,5,6,7,8,9}
B1={3,4,5,6,7,8}
C1={10,20,30}
B1.issubset(A1)

True

In [119]:
A1.issubset(B1)

False

In [120]:
A1.issuperset(B1)

True

In [121]:
C1.issubset(A1)

False

In [122]:
C1.isdisjoint(A1)

True

In [123]:
C1.isdisjoint(B1)

True

In [124]:
A2={1,2,3,4,5,6,7,8,9}
B2={13,14,15,16,17,18}
C2={10,20,30}

In [125]:
B2.issubset(A2)

False

In [126]:
A2.issuperset(B2)

False

In [127]:
A2.isdisjoint(B2)

True

### Enumerate

In [129]:
A=[1,2,3,4,5,6,7,8]
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8)]

## Dictionary Key:Value --- Mutable

In [130]:
mydict=dict()
mydict

{}

In [131]:
d={}
type(d)

dict

In [132]:
d1={1:'One',2:'Two',3:'Three'}
d1

{1: 'One', 2: 'Two', 3: 'Three'}

## Tuple

In [133]:
mytuple=('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight','one')
mytuple.index('one')

0

## Sets

In [134]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [135]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [138]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like li
myset3

TypeError: unhashable type: 'list'

In [139]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

## Looping throwgh Sets

In [141]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

two
six
five
four
three
one
seven
eight

### enumerate

In [142]:
for i in enumerate(myset):
    print(i)

(0, 'two')
(1, 'six')
(2, 'five')
(3, 'four')
(4, 'three')
(5, 'one')
(6, 'seven')
(7, 'eight')

In [143]:
'one' in myset # Check if 'one' exist in the set

True

In [144]:
'ten' in myset # Check if 'ten' exist in the set

False

In [145]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

### Add & Remove Items in Sets

In [146]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [147]:
myset.add('NINE') # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [148]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE']) # Add multiple item to a set using
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [149]:
myset.remove('NINE') # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [150]:
myset.discard('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [151]:
myset.clear() # Delete all items in a set
myset

set()

In [152]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

### Copy Set

In [153]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [154]:
myset1 = myset # Create a new reference "myset1"
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [155]:
print(id(myset))
print(id(myset1))

2595743618368
2595743618368

In [156]:
my_set = myset.copy() # Create a copy of the list
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [157]:
id(my_set) # The address of my_set will be different from myset because my_set i

2595743618816

### Set Operation Union

In [159]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [160]:
"""Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C."""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Set Intersection

In [163]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [164]:
A.intersection(B)

{4, 5}

In [165]:
"""
Updates the set calling the intersection_update() method with the intersection o
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

### SET Difference

In [168]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A - B) # set of elements that are only in A but not in B
print(B- A) # set of elements that are only in B but not in A

{1, 2, 3}
{8, 6, 7}

In [167]:
A.difference(B) # Difference of set

{1, 2, 3}

In [169]:
"""
Updates the set calling the difference_update() method with the difference of se
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

### Set Symmetric Difference

In [172]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A ^ B) # Symmetric difference (Set of elements in A and B but not in both. "EXCLU
print(A.symmetric_difference(B)) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [173]:
"""
Updates the set calling the symmetric_difference_update() method with the symmet
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

### Dictionary

In [175]:
mydict = dict() # empty dictionary
mydict

{}

In [176]:
mydict = {} # empty dictionary
mydict

{}

In [178]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
print(mydict)
mydict1 = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
print(mydict1)
mydict2 = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
print(mydict2)
mydict4 = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
print(mydict4)

{1: 'one', 2: 'two', 3: 'three'}
{1: 'one', 2: 'two', 3: 'three'}
{'A': 'one', 'B': 'two', 'C': 'three'}
{1: 'one', 'A': 'two', 3: 'three'}

In [181]:
mydict4.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [182]:
mydict4.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [183]:
mydict4.items() # Access each key-value pair within a dictionar

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [184]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [185]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict5 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict5

{'d': None, 'b': None, 'a': None, 'c': None}

In [186]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict6 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict6

{'d': 10, 'b': 10, 'a': 10, 'c': 10}

In [187]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict7 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict7

{'d': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30]}

In [188]:
value.append(40)
mydict7

{'d': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

### Accessing Items in Dictionary

In [189]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [190]:
mydict[1] # Access item using key

'one'

In [193]:
mydict.get(1) # Access item using get() method

'one'

In [194]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [195]:
mydict1['Name'] # Access item using key

'Asif'

In [196]:
mydict1.get('job') # Access item using get() method

'Analyst'

### Add, Remove & Change Items

In [197]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [198]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [199]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [200]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [201]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [202]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992}

In [203]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1992}

In [204]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [205]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

### Copy Dictionary

In [206]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [207]:
mydict1 = mydict # Create a new reference "mydict1

In [208]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2595738090752, 2595738090752)

In [209]:
mydict2 = mydict.copy() # Create a copy of the dictionary

In [210]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

2595742500416

### Loop through a Dictionar

In [212]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [213]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki

In [214]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Asif
12345
1991
Hilsinki

### Dictionary Membership

In [215]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [216]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [219]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

### All / Any

In [222]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': '0'}

In [223]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

### Range

In [224]:
range(5)

range(0, 5)

In [227]:
range(10,40)

range(10, 40)

In [229]:
r1 = range(10,40,5)
r1

range(10, 40, 5)

In [226]:
list(range(5))

[0, 1, 2, 3, 4]

In [232]:
for i in r1:
   print(i)

10
15
20
25
30
35